/* CSS variables */
@import url('./partials/_variables.css');

/* Global CSS class */

@import url('./partials/_global.css');

html{
    scroll-behavior: smooth;
    
}

/* Start Navigation */

.brand {
    font: normal 800 25px/2px var(--brand);
}


.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 2rem;
}

.header_area .main-menu .navbar {
    padding: 0.5rem 5rem;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 600 .9rem/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
    cursor: pointer;
}

.header_area .main-menu .navbar-nav .active a,
.header_area .main-menu .navbar-nav a:hover {
    color: var(--primary-color);
}


.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0;
    right: 0;
    background: #fbfbf2 !important;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}


/* End Navigation */

/* Hero Section */

.hero-section {
    background: url(../assets/coronavirus.png) no-repeat;
}


main .hero-section h4 {
    margin-top: 4rem;
    padding-top: 8rem;
}


/* End Hero Section */


/* corona status */

main .corona-stats {
    margin-top: 5rem;
}

main .numbers .ract {
    position: relative;
    z-index: 1;
    background: white;
    width: 15rem;
    height: 10rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    transition: all 1s ease;
}

main .numbers .confirmed:hover {
    /* background-color: orange; */

}

main .numbers {
    margin-top: 1vmin;
}

main .numbers .ract h1 {
    font-size: 3rem;
    color: black;
}

main .numbers .ract p {
    font-family: var(--Patua);
    font-weight: 700;
}

/* end corona status */


/* intro section */

.intro-section {
    padding: 20vmin 0;
}

main .intro-section .row .col-lg-6 .pray img {
    opacity: 0.8;
    width: 90%;
    border-radius: 0.2em;
    margin-left: 2px;
}

main .intro-section .row .col-lg-6:last-child {
    position: relative;
}

main .intro-section .row .col-lg-6 .panel {
    position: absolute;
    top: 5vmin;
    left: -18vmin;
    background: white;
    border-radius: .4rem;
    text-align: left;
    padding: 10vmin 5vmin 10vmin 5vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-weight: var(--Rubki);
}

main .intro-section .row .col-lg-6 .panel h5 {
    color: red;
}

/* end intro section */

/* Prevention Section */

main .prevention {
    background-color: var(--primary-color2);
    height: 100%;
    padding: 5rem 0rem 1rem 0rem;
}

main .prevention .prevent-box {
    background: white;
    border-radius: .4rem;
    padding: 10vmin 5vmin 10vmin 5vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
}

main .prevention .prevent-box h2 {
    font: normal 700 2rem/2rem var(--roboto);
}

main .prevention .prevent-box .prevention-list ul {
    list-style: none;
    color: #384c69;
    text-align: justify;
}

.prevention-list ul>li::before {
    position: relative;
    top: .3rem;
    left: -.6rem;
    content: "\2022";
    font-size: 2rem;
    line-height: 2rem;
    color: #3dca93;
}

main .prevention .prevent-box .prevention-list ul>li {
    font: normal 500 1.1rem/30px var(--roboto);
}

/* End Prevention Section */

/* tips section */


.tips-img {
    display: flex;
    align-items: center;
    justify-content: center;
}


.col-text {
    height: 20em;
}

.grid-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
}

.col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.col-left {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}

.col-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    width: 80%;
}

.col-image {
    background-size: cover;
    background-position: center center;
}

/* End tips section */

/* gallary area */

main .gallary-area {
    padding: 4rem 0;
}

main .gallary-area .button-group button {
    border: none;
    border-radius: .4rem;
    background-color: var(--primary-color2);
    font: normal 500 16px/30px var(--roboto);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

main .gallary-area .button-group button+button {
    padding: 0 1.5rem 0 1.5rem;
}

.button-group button {
    color: black;
}

.button-group button {
    color: black;
    border: none;
}

.button-group button.active {
    color: white;
    background-color: var(--primary-color) !important;

}

main .gallary-area .grid .photo>div {
    overflow: hidden;
}

main .gallary-area .grid .photo .img a img {
    transition: all 1s ease;
    border-radius: .3rem;
}

main .gallary-area .grid .photo .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
    transform: scale(1.1);
}


/* end gallary area */

/* FAQ Area */

main .faq .list-group .active {
    background: var(--gradient-color);
    transition: all 1s ease-out;

}

main .faq .list-group .active::before {
    content: "\007C";
    color: white;
    font-weight: 700;
    padding-right: 1rem;
}

main .faq .list-group-item:hover {
    background-color: var(--primary-color2) !important;
}

main .faq .list-group-item:hover::before {
    content: "\007C";
    color: white;
    font-weight: 700;
    padding-right: 1rem;
}

main .faq .tab-content .card-header {
    background-color: white !important;
}

main .faq .tab-content .card-header button {
    text-decoration: none;
    font-weight: 600;
    font-family: var(--brand);
    color: var(--primary-color);
}

main .faq .tab-content .collapse .card-body {
    transition: all 1s ease-in;
    background-color: whitesmoke;
}


/* End FAQ Area */

/* Blog */

main .blogs .card {
    margin: 0 .7rem;
    overflow: hidden;

}

main .blogs .card img {
    transition: all .7s ease;
}

main .blogs .card img:hover {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
    transform: scale(1.1);
}

/* End Blog */


/* footer */


footer {
    background: var(--gradient-color);
    overflow-x: hidden;
    padding: 7vmin 18vmin;
}

footer p>span>a {
    color: black;
}

footer input {
    border: none !important;
}

footer .link-list {
    list-style: none;
    padding: 1rem;
}

footer .link-list .link a {
    text-decoration: none;
    color: white;
}

footer .link-list .link a:hover {
    color: black;
}

footer .link-list>li {
    margin-bottom: .5rem;
}

footer input::placeholder {
    color: var(--primary-color2) !important;
}

footer .input-group .input-group-text {
    background: var(--primary-color);
    border: none !important;
}

footer .column a>i {
    color: white;

}

footer .column a+a {
    padding: 0 0.5em;
}

/* end footer */

/* Sticky */


#slideout {

    border-radius: 5px 0px 0px 5px;
    right: 0;
    padding: 12px 0;
    position: fixed;
    text-align: center;
    top: 200px;
    width: 35px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background: var(--primary-color);
    z-index: 9999;
}

#slideout p {
    padding-top: 5px;
    margin-left: 10px;
    line-height: 16px;
    text-transform: uppercase;
    font-size: 11px;
    writing-mode: tb-rl;
    font-weight: 600;
    font-family: var(--brand);
    letter-spacing: 2px;
}

#slideout p a {
    color: white;
}

#slideout_inner {
    border-radius: 0 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    right: -318px;
    border: 1px solid #e0e0e0;
    padding: 25px;
    position: fixed;
    text-align: left;
    top: 200px;
    background: #ffffff;
    transition-duration: 0.3s;
    width: 318px;
    z-index: 9999;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#slideout:hover {
    right: 314px;
}

#slideout:hover #slideout_inner {
    right: 0;
}

#slideout .follow {
    padding-bottom: 1rem;
}

#slideout .follow i {
    margin-right: 2rem;
}

/* End Sticky */